.terminal-prompt {
    display: flex;
    align-items: baseline;
  }

  .nowrap {
    white-space: nowrap;
  }
  .normalwrap {
    white-space: normal;
  }
  
  .blinking-caret {
    display: inline-block;
    width: 0.5rem;
    height: 1.5rem;
    background-color: #fc8a68;
    margin-left: 1px;
    color: #fff;
    text-align: center;
    animation: blink 0.75s infinite;
  }

  
@keyframes blink {
  50% {
    background-color: transparent;  /* Set the background color to whatever you want */
  }
}


  input {
    appearance: transparent;
    border: none;
    outline: none;
    caret-color: transparent;
    color: transparent;
    background: transparent;
  }

  input::selection {
    background-color: transparent;
  }