.terminal-prompt {
    display: flex;
    align-items: baseline;
  }
  
  .blinking-caret {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    background-color: #fc8a68;
    margin-left: 1px;
    color: #fff;
    text-align: center;
    animation: blink 0.75s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  input {
    appearance: transparent;
    border: none;
    outline: none;
    caret-color: transparent;
    color: transparent;
    background: transparent;
    user-select: none;
  }

  input::selection {
    background-color: transparent;
  }