#root {
  margin: 0 auto;
  padding: 1rem;
}

.typed-out{
  white-space: wrap;
  animation: 
    typing 0s forwards; /*Changed to 0s to disable for time being*/
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
