:root {
  font-family: 'Menlo', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: #ab4eda;
  background-color: #2b2031;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.prompt {
  color: #fc8a68;
}

.command {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.message {
  color: #ffddfd;
}

.info {
  color: #ab4eda;
  text-align: left;
  margin: 0;
  padding: 0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fc8a68, 0 0 2px #fc8a68, 0 0 7px #fc8a68;
  }
  to {
    text-shadow: 0 0 3px #fc8a68, 0 0 4px #fc8a68, 0 0 9px #fc8a68;
  }
}
